<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
</head>
<body>

    <h1>Basic Calculator</h1>
    <input type="text" id="val1" placeholder="First value">
    <select id="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">x</option>
        <option value="/">/</option>
    </select>
    <input type="text" id="val2" placeholder="Second value">
    <br><br>

    <button onclick="calculateResult()">Calculate</button>
    <br><br>

    result = <input type="text" id="display" disabled>

    <script>
        function calculateResult() {
            try {
                let n1 = document.getElementById("val1").value;
                let n2 = document.getElementById("val2").value;
                let op = document.getElementById("operator").value;

                let expression = n1 + op + n2;
                let result = eval(expression); 
                
                document.getElementById("display").value = result;
            } catch (error) {
                document.getElementById("display").value = "ผิดพลาด";
            }
        }
    </script>

</body>
</html>